<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/png"
    />
    <link rel="stylesheet" href="css/index.css" />
    <title>QuickTriv - fun multi player quiz game</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>QuickTriv</h1>
    </header>

    <!-- Content -->
    <!-- <h2 class="title">Fun 2 player quiz</h2> -->
    <h2 class="title">Join room to play!</h2>

    <p class="game_rules">* 5 rounds</p>
    <p class="game_rules">
      * Pick the right answer before your opponent and win the round.
    </p>
    <p class="game_rules">
      * Be careful, a wrong answer leads to a point for the opponent.
    </p>

    <div id="input">
      <input
        id="name"
        type="text"
        placeholder="Username"
        autocomplete="off"
        required
      />
      <input
        id="userMessage"
        type="text"
        placeholder="Room"
        autocomplete="off"
        required
      />

      <input type="hidden" name="sess" id="sessid" value="<%- id %> " />

      <button id="send">Create</button>
    </div>

    <p id="messages"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
