<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Chat App - Share your :mood</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <header>
        <h1>Real-time Chat App <span> - Share your :mood</span></h1>
    </header>
    <div id="moodblock">
            <p>Moodlist - </p>
            <p>:happy</p>
            <p>:tired</p>
            <p>:motivated</p>
            <p>:frustrated</p>
        </div>
    </div>

    <ul id="messages">
    </ul>
    <div id="input">

        <input id="name" type="text" placeholder="Name" autocomplete="off" required>
        <input id="userMessage" type="text" placeholder="Message" autocomplete="off" required>

        <button id="send">Send</button>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>
</html>