<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/png"
    />
    <link rel="stylesheet" href="css/play.css" />
    <title>QuickTriv - fun multi player quiz game</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>QuickTriv</h1>
    </header>

    <main>
      <!-- Round section -->
      <section id="round"></section>

      <!-- Quiz content -->
      <section id="quiz_content">
        <h2 class="title"></h2>
        <ul id="question_options"></ul>
      </section>

      <!-- Leaderboard section -->
      <section id="leaderboard"></section>
    </main>

    <!-- Answer options -->
    <div id="input">
      <button value="" id="sendA">A</button>
      <button value="" id="sendB">B</button>
      <button value="" id="sendC">C</button>
    </div>

    <input type="hidden" name="sess" id="sessid" value="<%- id %> " />

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/play.js"></script>
  </body>
</html>
