<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" />
    <title>Real-time Chat App - Share your :mood</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>QuickTriv</h1>
    </header>

    <!-- Content -->
    <h2 class="title">Lets play!</h2>

    <div id="input">
      <input
        id="name"
        type="text"
        placeholder="Username"
        autocomplete="off"
        required
      />
      <input
        id="userMessage"
        type="text"
        placeholder="Room"
        autocomplete="off"
        required
      />

      <button id="send">Send</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
